dotnet/N-Tier/PresentationTier/Connected Services/CustomerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataService" />
      <xsd:import namespace="http://tempuri.org/NorthwindDataSet.xsd" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataEntityTier" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomersByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersByID" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomersByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_SaveCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_InsertCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_InsertCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetData" message="tns:ICustomerService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetDataResponse" message="tns:ICustomerService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetDataUsingDataContract" message="tns:ICustomerService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetDataUsingDataContractResponse" message="tns:ICustomerService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomers" message="tns:ICustomerService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomersResponse" message="tns:ICustomerService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomersByID" message="tns:ICustomerService_GetCustomersByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomersByIDResponse" message="tns:ICustomerService_GetCustomersByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/SaveCustomers" message="tns:ICustomerService_SaveCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/SaveCustomersResponse" message="tns:ICustomerService_SaveCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/InsertCustomer" message="tns:ICustomerService_InsertCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/InsertCustomerResponse" message="tns:ICustomerService_InsertCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomer" message="tns:ICustomerService_UpdateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/UpdateCustomerResponse" message="tns:ICustomerService_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomersByID">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetCustomersByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomers">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/SaveCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/InsertCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/DataService/CustomerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>